.logo-box{
    display: flex;
    align-items: center;
    font-size: 17px;
}
  
.circle{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #F4DE4D;
    display: flex;
    align-items: center;
    justify-content: right;
}